# IDE's
**/.vscode
**/.idea

# java
**/out
**/target

# js
**/node_modules
**/dist

# python
**/venv
**/.venv
**/__pycache__
**/.python-version

# firebase
**/.firebase

# temp directories
**/tmp
**/temp

# logs
**/*log
**/log
**/logs