[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore
	editor = code --wait

[pull]
	rebase = true

[rebase]
	autoStash = true

[alias]
	hide = update-index --skip-worktree
  	hide-modified = ! git ls-files -m | xargs -r git update-index --skip-worktree
  	unhide = update-index --no-skip-worktree
  	unhide-all = ! git ls-files -v | grep '^S' | cut -c3- | xargs -r git update-index --no-skip-worktree
  	hidden = ! git ls-files -v | grep '^S' | cut -c3-
  	hidden-edit = ! git ls-files -v | grep '^S' | cut -c3- | xargs -r $(git config --global core.editor|cut -d ' ' -f1)
