# start dlna server
/usr/bin/minidlnad -R -f ~/.config/minidlna/minidlna.conf -P ~/.config/minidlna/minidlna.pid &

# locking paste with middle click
/usr/bin/xmousepasteblock &

# xscreensaver service
/usr/bin/xscreensaver -no-splash &

# ssh-agent
eval "$(ssh-agent -s)" &
